
.main{
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: start;
}
.add{
    margin-top: 25px;
    max-width: 140px
}
.item{
    display: flex;
    flex-wrap: flex;
    justify-content: space-around;
}
